
<section data-ng-controller="HomeController" data-ng-init="initiatePin()">
  <br>
    <a class="btn" ng-show = "usertype[0] == 'cook'" data-ng-href="#!/dishes/create"> Create a Dish </a>
  <!-- Add a link to create a dish here -->
  <p id="quote"> <b>"The journey of a thousand miles begins with a single bite."</b></p>
  <br>
    <map center="[14.506726, 5]" zoom ='2' style="height: 500px">
      <marker position="[37.784840, -122.397424]" visible="true" icon="http://i.imgur.com/ATrfpWa.png"></marker>

      <marker ng-repeat='latlng in disheslatlng' position='[{{latlng.lat}},{{latlng.long}}]' visible="true" on-click="showInfowindow(event, latlng)" icon="http://i.imgur.com/xnGqoNm.png" animation="Animation.BOUNCE")>

      </marker>
    </map>
</section>

<hr>
<div class="likes" data-ng-controller="LikesController" data-ng-init="find()">
  <span class="columnName">
    <b>Dishes You've Liked</b>
  </span>
  <br>
  <hr>
<p data-ng-repeat="like in likes">
   &hearts; <b>{{like.dishname}}</b>
 </p>
</div>


<div class="confirmations" data-ng-controller="ConfirmationsController" data-ng-init="find()">
  <span class="columnName">
    <b>Pending Confirmation</b>
  </span>
  <br>
  <hr>
  <span id="confirmDish" data-ng-repeat="confirmation in confirmations">
  <b>&hearts; {{confirmation.dishname}}</b>
  <form ng-hide="confirmation.confirm_status" ng-submit="update(confirmation.dishname, confirmation.username)"><button class="btn" input type="submit" value="Confirm">Confirm</button>
  </form>
  <p ng-show="confirmation.confirm_status">Confirmed!</p>

  </span> <br>
</div>


<div class="schedules" data-ng-controller="SchedulesController" data-ng-init="find()">
  <span class="columnName">
  <b>Upcoming Cooking Sessions</b>
</span>
  <br>
  <hr>
<p data-ng-repeat="schedule in schedules">
<b>&hearts; {{schedule.name}}</b> by <b>{{schedule.username}}</b>

</p>
</div>



