img {
  float: right;
  margin: 0 0 10 10;
  image-rendering: pixelated;
}

.polaroid {
  position: relative;
  width: 220px;
  float: right;
  width: 40%;
  height: 40%;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  height: 70%;
  width: 70%;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: georgia;
  color: #888;
}

b {
  font-size: 18px;
}

.storyBox {
  width: 70%;
  height: 40%;
  border:5px solid tomato;
  /*line-height: 300px;*/
}

/*.storyBox span {
  position: absolute;
}*/
