  <section data-ng-controller="DishesController">
  <div class="page-header">
      <h1>New Dish</h1>
  </div>
  <div class="col-md-12">
      <form class="form-horizontal" data-ng-submit="create()" novalidate>
          <fieldset>
              <div class="form-group">
                  <label class="control-label" for="name">Name</label>
                  <div class="controls">
                      <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                  </div>
              </div>
              Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>


<!--               <div class="form-group">
                  <label class="control-label" for="pic">Pic</label>
                  <div class="controls">
                      <input type="text" data-ng-model="pic" id="pic" class="form-control" placeholder="Pic" required>
                  </div>
              </div> -->

              <div class="form-group">
                <label class="control-label" for="origin">Description</label>
                <div class="controls">
                    <textarea name="origin" data-ng-model="origin" id="origin" class="form-control" cols="30" rows="5" placeholder="633 Folsom, San Francisco, CA"></textarea>
                </div>
            </div>

              <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="user_story">User Story</label>
              <div class="controls">
                  <textarea name="user_story" data-ng-model="user_story" id="user_story" class="form-control" cols="30" rows="5" placeholder="User Story"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="cost">Cost Per Serving</label>
              <div class="controls">
                  <input type="text" data-ng-model="cost" id="cost" class="form-control" placeholder="Cost Per Serving" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="ingredients">Ingredient List</label>
              <div class="controls">
                  <textarea name="ingredients" data-ng-model="ingredients" id="ingredients" class="form-control" cols="30" rows="5" placeholder="3 eggs, 2 liters of Milk"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="prep_time">Prep Time</label>
              <div class="controls">
                  <input type="text" data-ng-model="prep_time" id="prep_time" class="form-control" placeholder="1 hour" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="availabilty">Availability</label>
              <div class="controls">
                  <textarea name="availability" data-ng-model="availability" id="availability" class="form-control" cols="30" rows="1" placeholder="Saturday 8:00 P.M"></textarea>
              </div>
            </div>

              <div class="form-group">
                  <input type="submit" class="btn btn-default">
              </div>
              <div data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error"></strong>
              </div>
          </fieldset>
      </form>
  </div>
</section>
