<section data-ng-controller="DishesController" data-ng-init="read()">
  <div class="page-header">
    <h1>{{dish.name | uppercase}}</h1>
  </div>
  <div class="polaroid">
    <p>{{dish.name}} by {{dish.username}}</p>
    <img ng-src={{dish.pic}}>
  </div>
  <div class="dishInfo">
    <p><b>Cook</b> {{dish.username}}</p>
    <p><b>Description</b> {{dish.description}}</p>
    <p><b>Ingredients</b> {{dish.ingredients}}</p>
    <p><b>Prep Time</b> {{dish.prep_time}}</p>
    <p><b>Cost</b> {{dish.cost}}</p>
    <p><b>Availability</b> {{dish.availability}}</p>
  </div>
  <b>Cook's Story</b>
  <br>
  <div class="storyBox">
     <span>{{dish.user_story}}</span>
  </div>
  <div data-ng-controller="ReviewsController">
    <form class="form-horizontal" data-ng-submit="create(dish.name, dish._id)" novalidate>
      <div class="form-group">
        <label class="control-label" for="review">Reviews</label>
        <div class="controls">
          <textarea name="review" data-ng-model="review" id="review" class="form-control" cols="20" rows="5" placeholder="Leave Comments or Reviews"></textarea>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default">
      </div>
    </form>
  </div>
  <b>Reviews for dishes</b>
  <div class="reviews" style="width:75%;height:150px;line-height:3em;background-color:white;overflow:auto;padding:5px;">
    <p data-ng-repeat="review in reviews">
      &hearts; {{review.username}}
      &hearts; {{review.review}}
      &hearts; {{review.created.slice(0, 10)}}
      <hr>
    </p>
  </div>

  <!-- HACK FOR TESTING THE SCHEDULE FLOW -->
  <br>
  <div ng-controller="LikesController">
    <button ng-click="create(dish.name)">Like this dish.</button>

    <p ng-show="liked">You have liked this dish!</p>
  </div>
  <!-- HACK FOR TESTING THE SCHEDULE FLOW -->


</section>
