<section data-ng-controller="DishesController" data-ng-init="read()">
    <br><br><br>
    <h1>{{dish.name | uppercase}}</h1>
    <br>

  <div class="polaroid">
    <p>{{dish.name}} by {{dish.username}}</p>
    <img src={{dish.pic}}>
  </div>
  <div class="dishInfo">
    <p><b>Cook</b> {{dish.username}} <img src={{gravatar_url}}> </p>
    <p><b>Description</b> {{dish.description}}</p>
    <p><b>Ingredients</b> {{dish.ingredients}}</p>
    <p><b>Prep Time</b> {{dish.prep_time}}</p>
    <p><b>Cost</b> {{dish.cost}}</p>
    <p><b>Availability</b> {{dish.availability}}</p>
  </div>
  <b>Cook's Story</b>
  <br>
  {{dish.user_story}}
  <br><br>
    <div class="reviews">
    <b>Reviews for dishes</b>

    <p data-ng-repeat="review in reviews">
      &hearts; <b>{{review.username}}</b> : {{review.review}}
    </p>
  </div>

  <div data-ng-controller="ReviewsController">
    <form class="form-horizontal" data-ng-submit="create(dish.name, dish._id)" novalidate>
      <div class="form-group">
<!--         <p><label class="control-label" for="review"><b>Reviews</b></label></p> -->
<br>
<hr>
  <p><b>Reviews</b></p>
        <div class="controls">
          <textarea name="review" data-ng-model="review" id="review" class="form-control" cols="20" rows="5" placeholder="Leave Comments or Reviews"></textarea>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default">
      </div>
    </form>
  </div>



  <!-- HACK FOR TESTING THE SCHEDULE FLOW -->
  <div ng-controller="LikesController">
    <button id="likeBtn" ng-click="create(dish.name)">Like this dish.</button>

    <p ng-show="liked">You have liked this dish!</p>
  </div>
  <!-- HACK FOR TESTING THE SCHEDULE FLOW -->


</section>
