.likes {
  width: 30%;
  padding: 10px;
  border:2px solid #000066;
  border-top:2px line #000000;
  border-bottom:2px solid #000066;
  border-width:2px 2px 2px;
  border-bottom:2px line #000066;
  border-radius:10px;
-moz-border-radius:10px;
  margin: 25px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
